.metadata/
/bin
.DS_Store
.project
.classpath
MyKey
downloads/
Development Journal/Development Journal/Journal.synctex.gz
Development Journal/Development Journal/Journal.aux
Development Journal/Development Journal/Journal.log
.settings/org.eclipse.core.resources.prefs
Planes_v3.jar
planes.bat
.settings/
planesSingel.bat